# Deploys the app chart into each repo's environment
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ${{ repo_name }}-app
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://github.com/rcarlson-devops/self-service-idp.git
      targetRevision: main
      path: charts/app
      helm:
        valueFiles:
          - $values/environments/dev/values-dev.yaml
    - repoURL: ${{ repo_url }}
      targetRevision: main
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: ${{ repo_name }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
